.ani-text{
    font-size: 9em;
    line-height: 1em;
    width: 100%;
    text-align: center;
    color: var(--black);
    /* border: 2px solid red; */
    font-family: "Integral";
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
}
.text-mask{
    overflow: hidden;
}
@media screen and (max-width: 1200px) and (min-width: 800px){
    .ani-text{
        font-size: 7em;
    }
}
@media screen and (max-width: 800px) and (min-width: 500px) {
    .ani-text{
        font-size: 5em;
    }
}
@media screen and (max-width: 500px){
    .ani-text{
        font-size: 3em;
        text-align: left;
    }
}