.front-display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.2em;
    width: calc(100vw - 7.3em);
    height: 100%;
    padding: 0em 0.3em;
    z-index: -1;
        /* border: 2px solid red; */
}
.rect{
    background-color: rgb(255, 255, 255);
    width: 19.9%;
}
.content{
    /* border: 2px solid red; */
    position: absolute;
    width: calc(100vw - 7.3em);
}
.container{
    position: absolute;
}
 @media screen and (max-width: 800px){
    .front-display{
        width: 100vw;
    }
    .content{
        width: 100vw;
    }
    
 }