/* .timeline-container{
    height: 100vh;
    width: calc(100vw - 7.3em);
    overflow-y: scroll;
    background: radial-gradient(circle, rgba(42,133,239,1) 0%, rgb(22, 25, 32) 55%);
    padding: 4em 0;
    transform: scale(100%);
} */